extends layout

block content
  section.container
    h3.display-3 About Us
    p Bookworm is a friendly community where book lovers can discover and share books. See which books your friends are reading, and keep track of books you're reading or want to read.
    p Lorem ipsum dolor sit amet, in mel clita deseruisse interpretaris, consul laoreet his ad. Eos ut paulo nobis, essent verear aliquid ne usu, vim omnes appetere ut. Sed stet inermis facilisi ne. Ut liber erant detracto mel. Accumsan urbanitas ad eam.