extends layout

block content
  section.container
    h3.display-3 Contact Us
    p In sed enim urbanitas, usu ut viderer hendrerit. Est in discere definiebas, volumus copiosae no sed, in numquam vocibus dissentiunt eum. Nec soleat equidem ea, vel suas volutpat et. Cu pro labores dissentias liberavisse, ius ex oratio scripta. Vis in fabulas omittam aliquando.
    button(type="button").btn.btn-info Get in Touch