extends layout

block content
  section.container.text-center
    h3.display-3 Read & Share Books
    p.lead Choose from large collection of paid and free books!
    button.btn.btn-outline-info(type='button') Get Started for FREE